<div class="accordion" id="costsAccordion">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingThree">
			<button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
				Paso 1: Agregar Materias Primas
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#costsAccordion">
			<div class="accordion-body">
				El primer paso para calcular los costos es calcular el precio unitario de las materias primas para determinar el costo incidente de estas en el producto final.
				El procedimiento es muy similar por eso se resume en un item.
				<ol>
					<li>Ingresa en el menu "Calculadora de Costos"" y haz click en Embalaje/Tela/Herraje según quieras agregar</li>
					<li>Dirigete a Agregar Nuevo (Embalaje/Tela/Herraje)</li>
					<li>Designa el nombre de la materia prima, el precio que pagaste en totaly la cantidad total comprada</li>
					<li>Puedes agregar una descripción si así lo deseas pero no es obligatorio</li>
					<li>Luego de crear el elemento el sistema calcula automaticamente el precio unitario</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				Paso 2: Embalajes por Categoría
			</button>
		</h2>
		<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#costsAccordion">
			<div class="accordion-body">
				<ol>
					<li>Ingresa en el menu "Calculadora de Costos" y haz click en Embalaje por Categoría</li>
					<li>Selecciona la categoría a la que quieras designar embalajes haciendo click en <i class="bi bi-pencil-square"></i></li>
					<li>Haz click en actualizar cantidades,Seleccionar Embalaje y completa con la cantidad de unidades usadas en cada despacho</li>
					<li>Puedes Agregar una descripcion opcional si lo necesitas para tener en cuenta cuando vuelvas a editar este item en particular</li>
					<li>Confirma con el boton Agregar</li>
					<li>Puedes editar las cantidades buscando el embalaje directamente en actualizar cantidades, o haciendo click en el boton correspondiente <i class="bi bi-pencil-square"> de la tabla</i></li>
				</ol>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFive">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				Paso 3: Telas por Producto
			</button>
		</h2>
		<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#costsAccordion">
			<div class="accordion-body">

				<ol>
					<li>Ingresa en el menu "Calculadora de Costos" y haz click en Telas por Producto</li>
					<li>Selecciona el Producto al que quieres designar cantidad de Telas usadas haciendo click en <i class="bi bi-pencil-square"></i></li>
					<li>Haz click en actualizar cantidades,Seleccionar Tela y haz click en la que deseas actualizar</li>
					<li>Ingresa la cantidad de unidades del producto que <strong>puedes hacer con un metro de tela</strong> por ej: con 2 metros de tela violeta solo pudo hacer 2 mochilas EVA, pero con tela verde podria hacer 5 mochilas EVA,dado que se usa menos cantidad de ésta última</li>
					<li>Puedes Agregar una descripcion opcional si lo necesitas para tener en cuenta cuando vuelvas a editar este item en particular</li>
					<li>Confirma con el boton Agregar</li>
					<li>Puedes editar las cantidades buscando el embalaje directamente en actualizar cantidades, o haciendo click en el boton correspondiente <i class="bi bi-pencil-square"> de la tabla</i></li>
					<li>Puedes eliminar un elemento de la lista haciendo click en <i class="bi bi-trash-fill"></i></li>
				</ol>
				<p class="m-3">
					<strong>IMPORTANTE:el sistema calcula automáticamente el total, puedes usar numeros decimales para expresar la cantidad de productos que puedes hacer</strong>
					Por Ej: sí para confeccionar una campera usas 1,5 m de tela, entonces el numero que debes poner es el resultado de 1 dividido la cantidad de metros usada para confeccionar una sola unidad.

				</p>
				<p class="m-3 fs-2"><strong>1 / 1,5 = 0,66</strong> es decir, puedes hacer <strong>0,66</strong> camperas por cada metro de tela usado.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingSix">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				Paso 4: Herrajes por Producto
			</button>
		</h2>
		<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#costsAccordion">
			<div class="accordion-body">
				<ol>
					<li>Ingresa en el menu "Calculadora de Costos" y haz click en Herrajes por Producto</li>
					<li>Selecciona el Producto al que quieras designar herrajes haciendo click en <i class="bi bi-pencil-square"></i></li>
					<li>Haz click en actualizar cantidades,Seleccionar Herraje y completa con la cantidad de unidades usadas en cada producto</li>
					<li>Puedes Agregar una descripcion opcional si lo necesitas para tener en cuenta cuando vuelvas a editar este item en particular</li>
					<li>Confirma con el boton Agregar</li>
					<li>Puedes editar las cantidades buscando el embalaje directamente en actualizar cantidades, o haciendo click en el boton correspondiente <i class="bi bi-pencil-square"> de la tabla</i></li>
				</ol>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingSeven">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				Paso 5: Costos Fijo Mensuales
			</button>
		</h2>
		<div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#costsAccordion">
			<div class="accordion-body">
				Los costos se utilizan para calcular el valor agregado que debes incluir en cada uno de tus productos teniendo en cuenta la cantidad máxima que puedes hacer por categoría
				<ol>
					<li>Ingresa en el menu "Calculadora de Costos" y haz click en Costo Fijo</li>
					<li>Haz click en Crear Nuevo Costo Fijo</li>
					<li>Ingresa el nombre del costo e ingresa el <strong>valor mensual</strong> del costo </li>
					<li>Escribe una descripcion opcional si así lo deseas y guarda los cambios.</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingEight">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
				Paso 6: Costos Porcentual de Venta
			</button>
		</h2>
		<div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#costsAccordion">
			<div class="accordion-body">
				Los costos porcentuales se aplican a las ventas minoristas despues de aplicar las ganancias que son determinadas en la pestaña de Precio Final
				<ol>
					<li>Ingresa en el menu "Calculadora de Costos" y haz click en Costo Porcentual</li>
					<li>Haz click en Crear Nuevo Costo Porcentual</li>
					<li>Ingresa el nombre del costo e ingresa el valor entre 0,01 y 100 que se aplica al costo del producto </li>
					<li>Escribe una descripcion opcional si así lo deseas y guarda los cambios.</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingNine">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
				Paso 7: Costos por Producto
			</button>
		</h2>
		<div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#costsAccordion">
			<div class="accordion-body">
				Los datos de esta tabla son todos automaticos y su suma da como resultado el costo real del producto antes de los impuestos, ganancia y agregados:
				<strong>Si alguno de los valores dentro de los costos individuales es $0,00 puede que falten datos por agregar en el producto correspondiete. Revisa bien antes de publicarlo </strong>
			</div>
		</div>
	</div>
	
</div>