@page
@model ResetPasswordConfirmationModel

<h1>@Localizer["ResetPasswordConfirmation"]</h1>
<p>
    @Localizer["YourPasswordHasBeenReset"]. @Localizer["Please"] <a asp-page="./Login">@Localizer["ClickHere"]</a>.
</p>
