@{
    ViewData["Title"] = Localizer["AboutUs"];
    ViewData["Description"] = Localizer["MetaDescription"];
    ViewData["Keywords"] = Localizer["MetaKeywords"];
}

<div class="container my-5">
	<h1 class="text-center mb-4">@Localizer["AboutUs"]</h1>
    <div class="mt-4">
        <p>@Localizer["IntroPrefix"] <strong>VaultShop</strong>, @Localizer["IntroSuffix"]</p>
        <p>@Localizer["CommunityParagraph"]</p>
    </div>
</div>