<div class="container my-5">
	<h1 class="text-center mb-4">@Localizer["AboutUs"]</h1>
    <div class="mt-4">
        <p>¡Hola! Somos <strong>Ukiyo</strong>, una empresa familiar que lleva más de 5 años poniendo corazón y esfuerzo en lo que hacemos. Nos dedicamos a fabricar productos únicos, mejorando cada día gracias a todo lo que aprendemos y al valioso feedback de nuestros clientes.</p>
        <p>Creemos en la calidad, la pasión por los detalles y en construir conexiones auténticas con quienes confían en nosotros. Ukiyo no sería lo que es hoy sin el apoyo de nuestra comunidad. Por eso, trabajamos constantemente para ofrecer lo mejor y seguir creciendo juntos.</p>
    </div>
</div>